In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_ = pd.read_csv('train.tsv',sep='\t')
#test_ = pd.read_csv('test.tsv', sep='\t')

In [3]:
train_.head()

,target,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_244,f_245,f_246,f_247,f_248,f_249,f_250,f_251,f_252,f_253
0,3.066056,-0.652557,0.255256,-0.615412,-1.833283,-0.735654,NaN,1.115108,-0.170707,-0.350879,...,-1.607174,-1.400451,-0.920319,-0.198487,-0.944919,-0.572555,0.170449,-0.417764,-1.244350,-0.502889
1,-1.910473,1.178667,-0.093398,-0.555568,0.811153,-0.467931,-0.005488,-0.116258,-1.242854,1.984955,...,1.281957,0.032356,-0.060830,NaN,-0.061294,-0.301641,1.280799,-0.849742,0.821387,-0.259742
2,7.830711,0.180984,-0.778108,-0.919190,0.112607,0.887144,-0.761681,1.872443,-1.708934,0.134782,...,-0.236893,-0.659965,1.072506,-0.192872,0.570371,-0.267201,1.434515,1.331823,-1.146947,2.579905
3,-2.180862,0.745228,-0.245268,-1.343348,1.163072,-0.168847,-0.150516,-1.099532,0.225346,1.223015,...,0.709195,-0.203496,-0.135737,-0.570835,1.682078,0.243042,-0.380941,0.612880,1.032715,0.400305
4,5.462784,1.217383,-1.323946,-0.958151,0.448290,-2.873187,-0.855653,0.602568,0.763372,0.019770,...,0.892303,-0.432659,-0.877101,0.289258,0.653759,1.230144,0.456956,-0.754051,-0.025100,-0.931225

In [4]:
train_x = train_.iloc[:,1:255]
train_y = train_.iloc[:,0]

In [5]:
col_names = list(train_.dtypes.index)
target_ = ['target']
cat_vars = ['f_61','f_121','f_215','f_237']   # train_x.iloc[:,[61,121,215,237]]
cnt_vars = [x for x in col_names if x not in cat_vars]
cnt_vars = [x for x in cnt_vars if x not in target_]

In [6]:
#train_x.dtypes

In [7]:
# Imputing
train_x=train_x.fillna(train_x.mean(), inplace=True)
train_x[cat_vars] = train_x[cat_vars].fillna('missing')

In [8]:
# train_y.isnull().sum()

In [9]:
# Checking out the count of each of the values in the categorical columns
# This is to get a fair idea of the count of each of the values present, if less than 5% then could be grouped
# No such case, by observation!

In [10]:
train_x.f_61.value_counts()

d          1015
b           982
c           979
e           975
a           954
missing      95
Name: f_61, dtype: int64

In [11]:
train_x.f_121.value_counts()

B          837
E          830
A          829
C          815
F          803
D          800
missing     86
Name: f_121, dtype: int64

In [12]:
train_x.f_215.value_counts()

red        1294
yellow     1224
orange     1198
blue       1182
missing     102
Name: f_215, dtype: int64

In [13]:
train_x.f_237.value_counts()

Canada     1677
USA        1650
Mexico     1578
missing      95
Name: f_237, dtype: int64

In [14]:
train_gp = train_x[cat_vars]
cat_list = pd.get_dummies(train_gp).columns   # len(cat_list) = 22

In [15]:
# Categorical variables from the DataFrame : Dummy operation
train_x = pd.get_dummies(train_x)

In [16]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Columns: 272 entries, f_0 to f_237_missing
dtypes: float64(272)
memory usage: 10.4 MB

In [17]:
# Checking for any NULL values as of now
null_vals = train_x.isnull().sum()
null_vals[null_vals>0]

Series([], dtype: int64)

In [18]:
print train_y.shape
print train_x.shape

(5000,)
(5000, 272)

In [19]:
train_x.to_csv('train_x.csv')
train_y.to_csv('train_y.csv')

In [20]:
pd.DataFrame(cat_list).to_csv('train_cat_list.csv')