In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
test_ = pd.read_csv('test.tsv', sep='\t')

In [3]:
test_.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_244,f_245,f_246,f_247,f_248,f_249,f_250,f_251,f_252,f_253
0,1.122161,2.372084,-1.302713,-0.420838,-1.723640,0.205672,0.448599,1.305198,-0.343860,0.307042,...,0.987785,-0.472495,0.521588,-0.307917,1.061505,-0.839408,0.818555,0.341522,-0.162471,-1.122791
1,0.644808,-0.817831,-1.193122,0.285867,0.946388,2.001413,-1.490880,-0.162357,-1.668155,0.309635,...,-0.019666,0.763533,-0.622877,0.147480,0.391625,0.509444,1.608021,-0.320951,-1.723378,1.222700
2,-0.661031,0.372804,1.160255,0.447586,NaN,-0.377757,-0.644618,0.713097,1.900375,0.627264,...,0.156354,-0.267040,0.139786,-0.907847,0.093219,0.226585,-0.995615,-0.665005,0.444115,-1.452071
3,0.837063,1.269625,-1.420543,-0.482877,1.136028,0.051415,-0.096677,NaN,-1.524041,-0.252841,...,1.653141,1.950726,0.656887,-1.237622,-0.487024,-1.340936,1.221345,1.938266,-0.447294,0.410684
4,-0.001493,-0.050440,0.441970,0.229519,0.524835,0.326089,-0.589504,-0.287145,-0.555982,-0.088494,...,-0.290987,-0.195876,-0.737650,-0.377331,-0.660202,1.775678,-1.027535,-0.796754,0.184635,0.378488

In [4]:
col_names = list(test_.dtypes.index)
cat_vars = ['f_61','f_121','f_215','f_237']   # train_x.iloc[:,[61,121,215,237]]
cnt_vars = [x for x in col_names if x not in cat_vars]

In [5]:
# Imputing
test_=test_.fillna(test_.mean(), inplace=True)
test_[cat_vars] = test_[cat_vars].fillna('missing')

In [6]:
train_gp = test_[cat_vars]
cat_list = pd.get_dummies(train_gp).columns   # len(cat_list) = 22

In [7]:
# Categorical variables from the DataFrame : Dummy operation
test_ = pd.get_dummies(test_)

In [8]:
test_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 272 entries, f_0 to f_237_missing
dtypes: float64(272)
memory usage: 2.1 MB

In [9]:
# Checking for any NULL values as of now
null_vals = test_.isnull().sum()
null_vals[null_vals>0]

Series([], dtype: int64)

In [10]:
print test_.shape

(1000, 272)

In [11]:
test_.to_csv('test_.csv')

In [12]:
from sklearn.externals import joblib
xgb1 = joblib.load('/home/pgoyal/Projects/app/xgb_500_logloss.pkl')

In [13]:
cnts_vars_final = ['f_158','f_19','f_154','f_48','f_202','f_113','f_69','f_27','f_74','f_240','f_6','f_108','f_118',
                   'f_112','f_227','f_177','f_110','f_53','f_4','f_231','f_246','f_152','f_201','f_0','f_225','f_184',
                   'f_56','f_16','f_90','f_37','f_200','f_203','f_129','f_236','f_46','f_182','f_100','f_176','f_251',
                   'f_247','f_17','f_206','f_238','f_23','f_24','f_126','f_127','f_64','f_41','f_111','f_65','f_22',
                   'f_128','f_136','f_107','f_92','f_122','f_78','f_2','f_10','f_59','f_229','f_125','f_33','f_40',
                   'f_170','f_159','f_5','f_174','f_194','f_241','f_77','f_199','f_140','f_198','f_178','f_216',
                   'f_188','f_120','f_131','f_144','f_67','f_50','f_221','f_60','f_42','f_180','f_76','f_226',
                   'f_149','f_1','f_73','f_18','f_155','f_173','f_85','f_135','f_248','f_68','f_191','f_252',
                   'f_98','f_204','f_45','f_58','f_28','f_183']

In [14]:
cat_vars_final = list(pd.read_csv('cat_vars.csv')['0'])
var = cnts_vars_final
var.extend(cat_vars_final)

In [15]:
final_predictions = pd.DataFrame(xgb1.predict(test_[var]))

In [16]:
final_predictions.to_csv('/home/pgoyal/Projects/app/final_predictions.csv')

In [17]:
final_predictions

            0
0    0.270303
1    1.207760
2    2.246185
3   -0.254940
4    2.118337
5    1.217976
6    2.190634
7    1.157818
8    1.530466
9    1.186767
10   1.131425
11   0.107701
12   0.206123
13   1.261462
14   1.641309
15   2.156624
16   2.295280
17   0.717730
18   1.247911
19   0.264745
20  -0.669194
21  -0.745580
22   1.376791
23   2.052799
24  -0.311432
25  -0.248845
26   0.600540
27   0.270210
28   0.519363
29   1.224080
..        ...
970  1.510936
971  0.147782
972  1.129353
973  2.126256
974  0.646059
975  1.814475
976 -0.623024
977 -0.521128
978  1.390368
979  1.114424
980  1.669852
981  0.263486
982  1.210235
983  1.736176
984  0.175722
985  1.475191
986  1.277899
987  1.806686
988  2.346044
989  1.812898
990  1.781480
991  1.822561
992  0.874124
993  1.844661
994  2.278445
995  1.641630
996  2.192804
997 -0.689198
998  1.036784
999  1.208544

[1000 rows x 1 columns]